
@font-face {
    font-family: myboldfont;
    src: url(./fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: myregularfont;
    src: url(./fonts/Montserrat-Regular.ttf);
}

#app {
    min-height: 800px;
    font-family: myboldfont !important;
    background-image: linear-gradient(90deg,#eba344,#d88e33 50%,#ce6d27);
}