.sidebarshorter {
    width: 55px ;
    
    background-color: #212529;
    min-height: calc(100vh - 56px);
}

.sidebarshorter .nav-item .nav-link span {
    font-size: 1rem;
    display: inline;
}

.sidebarshorter .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    
}
.sidebarshorter .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.5);
}