.card{
    background-color: rgba(128, 133, 131, 0.801) !important;
    padding-top: 15px !important;
}
.input-group{
    margin-top:  5px !important;
}
.buttonUpdate{
    margin-top: 15px;
}
.btn-link {
    float: right;
}
.aline{
   text-align: right !important;
}