.app {
    min-height: 800px;
    background-image: linear-gradient(90deg,#ffc400,#ff981d 50%,#ff842f) !important;
}
.logoLogin {
    height:54px;
    
}
 .dangnhap:hover {
    text-decoration: none;
    color:  #fff;
}

.back-left {
    height: 50px;
    padding: 10px 10px;
    margin: -20px -16px;
    color:#333333  ;
    font-size: 16px;
}
.back-left:hover {
    color: white;
    text-decoration: none;
    background-color: #FFB00E;
}

.back-right{
    width: 80px;
}