.logo {
    height: 37px !important;
   max-width: 500px !important;
}

.user-area .user-menu {
    right: 0px !important;
    max-width: 186px !important;
    font-size: 15px !important;
}

.username {
    line-height: 4.4px;
    font-size: 15px;
    margin: 3px;
    color: black;
    margin-left: 10px;
    font-weight: 500;
}
.navbar-brand {
    font-size: 2.25rem !important;
}