.logo {
    height: 37px !important;
   max-width: 500px !important;
}

.user-area .user-menu {
    right: 0px !important;
}

.username {
    line-height: 4.4px;
    font-size: 12px;
    margin: 3px;
    color: black;
}
.navbar-brand {
    font-size: 2.25rem !important;
}