.overview{
    background-color:#d9d9e4 !important;
    padding-top: 15px !important;
}
.input-group{
    margin-top:  5px !important;
}
.buttonUpdate{
    margin-top: 15px;
}
.btn-link {
    float: right;
}
.aline{
   text-align: right !important;
}
.txt4 {
    font-family: Metrophobic;
    font-size: 14px;
    line-height: 1.5;
    color: #ee410c;
}
.manage{
    padding: 5px 5px 5px 5px;
}
.row{
    padding-bottom: 10px;
}
.mr-10{
    margin-right: 10px;
}
.update {
    text-align: center;
    height: 50px;
    padding-top: 10px;
}